@using refreashOnCsharp.Models
@model IEnumerable<Person3>
<!DOCTYPE html>
<html>
    <head>
        <title>
            @ViewBag.appTitle</title>
        <meta carset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Welcome</h1>
        @foreach(Person3 person in Model) 
        {
            <div>@person.Name,
                 <span> @person.PersonGender</span>
                 </div>
           
            @if (person.DateOfBirth != null)
            {
                <span>@person.DateOfBirth?.ToString("MM/dd/yyyy")</span>

            }
        }
    </body>
</html>