@using refreashOnCsharp.Models

<!DOCTYPE html>
<html>
    <head>
        <title>
            @ViewData["appTitle"]
        </title>
        <meta carset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Welcome</h1>
        @foreach(Person3 person in ViewBag.people) 
        {
            <div>@person.Name, </div>
            <span> @person.PersonGender</span>
            @if (person.DateOfBirth != null)
            {
                <span>@person.DateOfBirth.Value.ToString("MM/dd/yyyy")</span>

            }
        }
       
    </body>
</html>