@using refreashOnCsharp.Models
@{
    string appTitle = "Asp.Net core Demo app";
    List<Person3> people = new List<Person3>()
        {
            new Person3 {Name = "Kylie", DateOfBirth = DateTime.Parse("2005-08-19"), PersonGender = Gender.Female}, 
            new Person3 {Name = "Zack", DateOfBirth = DateTime.Parse("1989-11-30"), PersonGender = Gender.Male},
            new Person3 {Name = "Blair", DateOfBirth = DateTime.Parse("2025-07-13"), PersonGender = Gender.Male},
        };
    //Person3 person = new() { Name = "Kylie", DateOfBirth = Convert.ToDateTime("2005-08-19"), PersonGender = Gender.Female };
}
<!DOCTYPE html>
<html>
    <head>
        <title>
            @appTitle
        </title>
        <meta carset="utf-8" />
    </head>
    <body>
        <h1>Welcome</h1>
        @for(int i = 0; i < 2; i++) 

        {
            Person3 person = people[i];
            <div>@person.Name</div>
            <span>, </span>
            <span> @person.PersonGender</span>
            @if (person.DateOfBirth != null)
            {
                <span>@person.DateOfBirth.Value.ToString("MM/dd/yyyy")</span>
            }
        }
       
    </body>
</html>