@* @model refreashOnCsharp.Models.Person3
<!DOCTYPE html>

<html>
    <head>
        <title>Person Details</title>
        <meta charset="UTF-8"/>
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Person</h1>
        <a href="/home">Back to Home</a>
    </body>
</html> *@